%h1 Listing restaurant_menu_item_comments

%table
  %tr
    %th Text
    %th
    %th
    %th

  - @restaurant_menu_item_comments.each do |restaurant_menu_item_comment|
    %tr
      %td= restaurant_menu_item_comment.text
      %td= link_to 'Show', restaurant_menu_item_comment
      %td= link_to 'Edit', edit_restaurant_menu_item_comment_path(restaurant_menu_item_comment)
      %td= link_to 'Destroy', restaurant_menu_item_comment, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Comment', new_restaurant_menu_item_comment_path
